# Local Docker Compose (default)
AGENT_HPO_DB_URL=postgresql://agent_hpo:agent_hpo@localhost:5432/agent_hpo

# AWS RDS example:
# AGENT_HPO_DB_URL=postgresql://user:password@your-rds-instance.region.rds.amazonaws.com:5432/agent_hpo

# Test database (auto-created by test fixtures)
AGENT_HPO_TEST_DB_URL=postgresql://agent_hpo:agent_hpo@localhost:5432/agent_hpo_test
